<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
   
      
     var qtdFamíliares = parseInt(prompt("Quantos familiares você tem? "));

     var numero = 1;
    
     var totalIdade = 0;
     

     while (numero <= qtdFamíliares){

           
           var idade = parseInt(prompt("Informe idade do familiar: ")); 
           totalIdade = totalIdade + idade;
           numero ++;
         }

     var media = (totalIdade / qtdFamíliares);
     mostra(media);
      
    mostra ("FIM");

</script>