<meta charset="UTF-8">

<input/>
<button>Compare com o meu segredo</button>

<script>

	function sorteia() {

		return Math.round(Math.random() * 10);
	}
	
	function sorteiaNumeros(quantidade) {

		var segredos = [];

		var numero = 1;

		while (numero <= quantidade) {

			var numeroAletorio = sorteia();
			var achou = false;


			if(numeroAletorio !== 0){			
				for (var posicao = 0; posicao < segredos.length; posicao++){

					if(segredos[posicao] == numeroAletorio){
						achou = true;
						break;
					}

				}			

				if(achou == false){	
					segredos.push(numeroAletorio);
					numero++;
				}
			}
		}
		return segredos;

	}
		
	var segredos = sorteiaNumeros(5);

	console.log(segredos);

	var input = document.querySelector("input");

	input.focus();

	function verifica() {

		var achou = false;
		for(posicao = 0; posicao < segredos.length; posicao ++){
			if (input.value == segredos[posicao]){
				
				alert("Você acertou!" );
				achou = true;
				break;
			
			}
			
		}

		if(achou == false){

			alert("Você ERROU!");
		}
			
		input.value = "";
		input.focus();

	}

	var button = document.querySelector("button");
	
	button.onclick = verifica;

</script>