<meta charset="UTF-8">

<script>

    var ano = 2018;


    document.write("Flávio tem " + (ano - 1987) + "<br>");

    document.write("Joaquim tem " + (ano - 1956) + "<br>");

    ano = 2013;

    document.write("Barney tem " + (ano - 1976) + "<br>");
	
	var idadeFlavio = 31;
	var idadeJoaquim = 62;
	var idadeBarney = 37;

	var media = (idadeBarney + idadeJoaquim + idadeFlavio) / 3;
	
	document.write('A média das idades é: ' + Math.round(media));

	var nome = "Flavio";

	document.write("<br> A idade de " + nome + " é: " + idadeFlavio);



</script>