<meta charset="UTF-8">

<h3>Álcool ou Gasolina?</h3>

<script>

	var tanque = 40;
	var caminhoComGasolina = 480;
	var consumoDeGasolina = ( caminhoComGasolina / tanque);
	var caminhoComAlcool = 300;
	var consumoDeAlcool = (caminhoComAlcool / tanque);

	document.write("Seu carro percorreu " + consumoDeGasolina + "km, por litro de Gasolina.");
	document.write("<br>Seu carro percorreu " + consumoDeAlcool + "km, por litro de Álcool.");

</script>
