<meta charset=UTF=8>


<script>

	function pulaLinha() {

		document.write("<br><br>");

	}

	function mostra(frase){

		document.write(frase);
		pulaLinha();

	}

	var minhaIdade = 35;
	var idadeIrmao = 36;
	var diferencaIdade = (minhaIdade - idadeIrmao);

	mostra("A diferença de idade entre meu irmão e eu é de " + diferencaIdade + " ano(s)");

</script>
