<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
   
   
     var multiplicador = 0;
   while (multiplicador < 10){
   mostra( 7 * multiplicador);
   multiplicador ++;
}

mostra ("FIM");

</script>