<meta charset UTF=8>


<script>

	function pulaLinha() {

		document.write("<br><br>");

	}
	
	function mostra(frase) {

		document.write(frase);
	}

	var primeiraGeracao = 1500;
	
	var anoAtual = 2022;
	
	// var mediaEntreGeracoes = (anoAtual - primeiraGeracao / 28);


	mostra(" Se passaram até a geração atual " + Math.round(anoAtual - primeiraGeracao) / 28);
	pulaLinha();


</script>