<meta charset="UTF-8">

<script>

	function pulaLinha() {

		document.write("<br><br>");

	}

	function mostra(frase) {

		document.write(frase);
		pulaLinha();
	}

	function calculaImc(altura, peso) {

		 return peso / (altura *  altura);

	}

//var imcNaia = calculaImc(86, 1.73);
//var imcJosi = calculaImc(68, 1.73);
//var imcTia = calculaImc(70, 1.69);
//var totalImc = imcNaia + imcJosi + imcTia;

//mostra(imcNaia);
//mostra(imcJosi);
//mostra(imcTia);

// document.write("A soma dos imc's é " + totalImc);

var nome = prompt("Qual seu nome? ");
var alturainformada = prompt(nome + ", Informe sua altura");
var pesoInformado = prompt(nome + ", Informe seu peso");;
var imc = calculaImc(alturainformada, pesoInformado);

mostra("O IMC de " + nome + " é " + imc);

if(imc < 18.5){

	mostra("Você está abaixo do recomendado");

}
if(imc > 35){

	mostra("Você está acima do peso recomendado");
}

if(imc > 18.5 & imc < 35){

	mostra("Você está no peso ideal");
}


</script>