<meta charset="UTF-8">

<script>

	function pulaLinha() {

		document.write("<br><br>");

	}

	function mostra(frase) {

		document.write(frase);
		pulaLinha();
	}
	
	var numeroPensado = Math.round(Math.random() * 10);
	console.log(numeroPensado);
	
	var chute = parseInt(prompt("digite seu chute!"));
	
	if(chute == numeroPensado) {
    mostra("Você acertou!");
	}else{

	mostra("Você errou, o número pensado foi " + numeroPensado);
	}

	
	</script>