<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function sorteia(n) {
        return Math.round(Math.random() * n); 

    }
    
    var numeroPensado = sorteia(10);
    var chuteLimite = 1;

    while(chuteLimite <= 3){
        
        var chute = parseInt(prompt("Já pensei. Qual você acha que é?"));
    
        if(chute == numeroPensado) {
    
            mostra("Uau! Você ACERTOU, pois eu pensei no " + numeroPensado);
            break;

        } else {
    
            mostra("Você ERROU!");
        }
        chuteLimite ++;

    }
    mostra ("FIM");

</script>