<meta charset="UTF-8">

<h1>Receitas do Gabriel Jalison</h1>

<script>

var ingredientes = [];
var quantidade = parseInt(prompt("Quantos ingredientes serão adicionados na receita? "));
var contador = 1;
var posicao = 0;

while(contador <= quantidade) {
    var ingrediente = prompt("Informe o ingrediente " + contador);

    if(ingrediente != ingredientes[posicao]) {
        ingredientes.push(ingrediente);
        contador++;
    } else if(ingrediente == ingredientes[posicao]) {
        alert("O ingrediente não pode ser repetido, informe um diferente! ");
        posicao++;
    }
}

document.write(ingredientes);

</script>
