

<meta charset="UTF-8">
<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
}
        var contador = 20;
        while (contador >= 0){
            mostra(contador);
            contador = contador - 1;
        }
        
        mostra("FIM");

    </script>    