	<meta charset="UTF-8">

<script>
	function mostra(frase){

		document.write(frase);
		pulaLinha();

	}


	function pulaLinha() {
	
		document.write("<br><br>");

	}

	var ano = 2016;
	
	
	//document.write("Josimar nasceu em: " + (2022 - 35));
	mostra("Josimar nasceu em: " + (2022 - 35));

	
	
	//document.write("José nasceu em: " + (2022 - 20));

	mostra("José nasceu em: " + (2022 - 20));
	
	

	//document.write("João nasceu em: " + (2022 - 47));

	mostra("João nasceu em: " + (2022 - 47));
	
	
	
</script>