<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
   
   for( var multiplicador = 1; multiplicador <=10; multiplicador ++){
    mostra ( 7 * multiplicador);
   }
     var multiplicador = 1;
   while (multiplicador <= 10){
   mostra( 7 * multiplicador);
   multiplicador ++;
}

mostra ("FIM");

</script>