<meta charset="UTF-8">

<script>

var tabuada = 8;

document.write( tabuada + " vezes 1 é : " + tabuada * 1+ "<br>");

document.write( tabuada + " vezes 2 é : " + tabuada * 2+ "<br>");

document.write( tabuada + " vezes 1 é : " + tabuada * 3+ "<br>");

document.write( tabuada + " vezes 2 é : " + tabuada * 4+ "<br>");

document.write( tabuada + " vezes 1 é : " + tabuada * 5+ "<br>");

document.write( tabuada + " vezes 2 é : " + tabuada * 6+ "<br>");

document.write( tabuada + " vezes 1 é : " + tabuada * 7+ "<br>");

document.write( tabuada + " vezes 2 é : " + tabuada * 8+ "<br>");

document.write( tabuada + " vezes 1 é : " + tabuada * 9+ "<br>");

document.write( tabuada + " vezes 2 é : " + tabuada * 10+ "<br>");

</script>